/* Root element */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Utility classes */
.content-container {
  padding: 1rem;
}

/* Navbar brand logo */
.navbar-brand img {
  height: 80px;
  width: auto;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 14px;
}

/* Override default Bootstrap link colors */
a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Override default button styling */
button {
  border-radius: 5px;
}
.cart-icon:hover {
  background-color: black !important; /* Ensure black stays on hover */
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
